@model WebTH.Models.EF.News
@{
    ViewBag.Title = "Chi tiết tư vấn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
         style="background-image: url(/Content/assets/images/bg-title-page-3.jpg)">
    <h2 class="tit6 t-center">Chi tiết bài viết</h2>
</section>

<section>
    <div class="bread-crumb bo5-b p-t-17 p-b-17">
        <div class="container">
            <a href="/" class="txt27"> Trang chủ </a>
            <span class="txt29 m-l-10 m-r-10">/</span>
            <a href="/advise" class="txt27"> Bài tư vấn </a>
            <span class="txt29 m-l-10 m-r-10">/</span>
            @if (Model != null)
            {
                <span class="txt29"> @Model.Title </span>

            }
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
                    @if (Model != null)
                    {
                        <div class="blo4 p-b-63">
                            <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
                                <a href="blog-detail.html">
                                    <img src="@Model.Image" alt="@Model.Title" />
                                </a>
                                <div class="date-blo4 flex-col-c-m">
                                    <span class="txt30 m-b-4"> @Model.CreatedDate.ToString("dd") </span>
                                    <span class="txt31"> @Model.CreatedDate.ToString("MMM"), @Model.CreatedDate.ToString("yyyy") </span>
                                </div>
                            </div>

                            <div class="text-blo4 p-t-33">
                                <h4 class="p-b-16">
                                    <a href="#" class="tit9">@Model.Title</a>
                                </h4>
                                <div class="txt32 flex-w p-b-24">
                                    <span>
                                        by Admin
                                        <span class="m-r-6 m-l-4">|</span>
                                    </span>
                                    <span>
                                        @Model.CreatedDate
                                        <span class="m-r-6 m-l-4">|</span>
                                    </span>
                                    <span>
                                        @Model.Alias
                                        <span class="m-r-6 m-l-4">|</span>
                                    </span>
                                    <span> Comments </span>
                                </div>
                                <p>
                                    @Html.Raw(Model.Detail)
                                </p>
                            </div>
                        </div>
                    }


                    <form class="leave-comment p-t-10">
                        <h4 class="txt33 p-b-14">Để lại bình luận</h4>
                        <p>
                            Các trường bắt buộc được đánh dấu *
                        </p>
                        <textarea class="bo-rad-10 size29 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-40" name="commentent"
                                  placeholder="Bình luận..."></textarea>
                        <div class="size30 bo2 bo-rad-10 m-t-3 m-b-20">
                            <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="name"
                                   placeholder="Tên *" />
                        </div>
                        <div class="size30 bo2 bo-rad-10 m-t-3 m-b-20">
                            <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email"
                                   placeholder="Email *" />
                        </div>

                        <button type="submit" class="btn3 flex-c-m size31 txt11 trans-0-4">
                            Gửi bình luận
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
                    <div class="search-sidebar2 size12 bo2 pos-relative">
                        <input class="input-search-sidebar2 txt10 p-l-20 p-r-55" type="text" name="search"
                               placeholder="Search" />
                        <button class="btn-search-sidebar2 flex-c-m fa fa-search     trans-0-4"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

